<h2 mat-dialog-title>Registro de curso</h2>
<mat-dialog-content>
  <form [formGroup]="registroForm" (submit)="onSubmit()">
    <mat-form-field class="form-field-row">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Nombre">
      <mat-error *ngIf="registroForm.controls['nombre'].errors?.['required']">Campo requerido</mat-error>
      <mat-error *ngIf="registroForm.controls['nombre'].errors?.['minlength']">Debe tener al menos 3 caracteres</mat-error>
      <mat-error *ngIf="registroForm.controls['nombre'].errors?.['maxlength']">Debe tener menos de 30 caracteres</mat-error>
      <mat-error *ngIf="registroForm.controls['nombre'].errors?.['pattern']">Solo se aceptan letras</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field-row">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="descripcion" placeholder="Descripción">
      <mat-error *ngIf="registroForm.controls['descripcion'].errors?.['required']">Campo requerido</mat-error>
      <mat-error *ngIf="registroForm.controls['descripcion'].errors?.['minlength']">Debe tener al menos 3 caracteres</mat-error>
      <mat-error *ngIf="registroForm.controls['descripcion'].errors?.['maxlength']">Debe tener menos de 30 caracteres</mat-error>
      <mat-error *ngIf="registroForm.controls['descripcion'].errors?.['pattern']">Solo se aceptan letras</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field-row">
      <mat-label>Semestre</mat-label>
      <input matInput type="number" formControlName="Semestre" placeholder="Semestre">
      <mat-error *ngIf="registroForm.controls['Semestre'].errors?.['required']">Campo requerido</mat-error>
      <mat-error *ngIf="registroForm.controls['Semestre'].errors?.['min']">Debe ser mayor o igual a 1</mat-error>
      <mat-error *ngIf="registroForm.controls['Semestre'].errors?.['max']">Debe ser menor o igual a 10</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field-row">
      <mat-label>Fecha de Creación</mat-label>
      <input matInput formControlName="fechaCreacion" placeholder="Fecha de Creación" type="date">
      <mat-error *ngIf="registroForm.controls['fechaCreacion'].errors?.['required']">Campo requerido</mat-error>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button mat-dialog-close color="warn">Cerrar</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>