<div class="div_botones">
    <button mat-raised-button color="primary" (click)="abrirDialogoRegistro()">Registrar cursos</button>
  </div>
  <div class="div_tabla">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let curso">{{curso.idCurso}}</td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let curso">{{curso.nombre}}</td>
      </ng-container>
      <ng-container matColumnDef="semestre">
        <th mat-header-cell *matHeaderCellDef>Semestre</th>
        <td mat-cell *matCellDef="let curso">{{curso.Semestre}}</td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let curso">{{curso.descripcion}}</td>
      </ng-container>
      <ng-container matColumnDef="fechaCreacion">
        <th mat-header-cell *matHeaderCellDef>Fecha de Creación</th>
        <td mat-cell *matCellDef="let curso">{{curso.fechaCreacion}}</td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let curso">
          <button mat-icon-button matTooltip="Ver Curso" (click)="verCurso(curso.idCurso)">
            <mat-icon fontIcon="visibility" style="color: blue;"></mat-icon>
          </button>
          <button mat-icon-button matTooltip="Editar Curso" (click)="abrirDialogoEditar(curso.idCurso)">
            <mat-icon fontIcon="edit" style="color: chocolate;"></mat-icon>
          </button>
          <button mat-icon-button matTooltip="Inhabilitar Curso" (click)="inhabilitarCurso(curso.idCurso)">
            <mat-icon fontIcon="person_remove" style="color: red;"></mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>